<div class="footbg clearfix">
  <div class="footwrap col-md-11">
    <div class="logofriendly clearfix">
      <div class="footlogo col-sm-12 col-xs-12 col-md-2 block" data-move-x="-100px" style="opacity: 0; transform: translateX(-100px);"><img src="{pboot:sitelogo}"></div>
      <div class="footnav col-sm-12 col-xs-12 col-md-8 block" data-move-x="-100px" style="opacity: 0; transform: translateX(-100px);">友情链接：
	  {pboot:link gid=1 num=100}<a href="[link:link]" title="[link:name]" target="_blank">[link:name]</a>{/pboot:link}
	  </div>
    </div>
    <div class="copyright clearfix">
      <p class="p1">{pboot:sitecopyright} <a href="http://beian.miit.gov.cn" target="_blank" rel="nofollow">{pboot:siteicp}</a> <a href="{pboot:sitedomain}/sitemap.xml" target="_blank">XML地图</a> <a href="https://www.91084.com/" target="_blank">网站模板</a> {pboot:sitestatistical}</p>
    </div>
  </div>
  <div class="winxin col-md-1 visible-lg visible-md"> <i><img src="{pboot:companyweixin}"></i>
    <h2></h2>
  </div>
</div>